<div class="flex space-x-3 mt-2 mr-2" style="position: absolute; right: 0; top:0;">
    <a (click)="navigateTo('FR')"><img width="30" src="../../../../assets/Images/Location/FR.png"/></a>
    <a (click)="navigateTo('EN')"><img width="30" src="../../../../assets/Images/Location/EN.png"/></a>
    <a (click)="navigateTo('ES')"><img width="30" src="../../../../assets/Images/Location/ES.png"/></a>
    <a (click)="navigateTo('IT')"><img width="30" src="../../../../assets/Images/Location/IT.png"/></a>
    <a (click)="navigateTo('DE')"><img width="30" src="../../../../assets/Images/Location/DE.png"/></a>
    <a (click)="navigateTo('RU')"><img width="30" src="../../../../assets/Images/Location/RU.png"/></a>
    <a (click)="navigateTo('CO')"><img width="30" src="../../../../assets/Images/Location/CO.png"/></a>
    <a (click)="navigateTo('CN')"><img width="30" src="../../../../assets/Images/Location/CN.png"/></a>
    <a (click)="navigateTo('JP')"><img width="30" src="../../../../assets/Images/Location/JP.png"/></a>
</div>