<!-- <a [routerLink]="['pokemon/', pokemon.Id]">
  <div class="aspect-square">
    <img src="{{pokemon.UrlImg}}" class="h30 w-30" alt="{{pokemon.FR.Name}}">
  </div>
  <div class="pt-5 pb-4 px-5">
    <p class="text-gray-500">#{{pokemon.Number}}</p>
    <h2 class="text-xl font-bold">{{pokemon.FR.Name}}</h2>
  </div>
  <div class="flex justify-center space-x-2 mt-4 pt-5">
      <div *ngFor="let type of pokemon.Types">
        <img class="h-6 w-25" src="{{type.typePok.UrlMiniHome_FR}}">
      </div>
  </div>
</a> -->