<p>{{pokemon.Number}}</p>
<p>{{pokemon.FR.Name}}</p>
<p>{{pokemon.FR.DisplayName}}</p>
<p>{{pokemon.FR.DescriptionVx}}</p>
<p>{{pokemon.FR.DescriptionVy}}</p>
<p>{{pokemon.FR.Size}}</p>
<p>{{pokemon.FR.Category}}</p>
<p>{{pokemon.FR.Weight}}</p>
<p>{{pokemon.FR.Talent}}</p>
<p>{{pokemon.FR.DescriptionTalent}}</p>
<p>{{pokemon.FR.Evolutions}}</p>
<p>{{pokemon.FR.WhenEvolution}}</p>


<div *ngFor="let type of pokemon.TypePoks">
    <p>{{type.Name_FR}}</p>
</div>

<div *ngFor="let type of pokemon.Weaknesses">
  <p>{{type.Name_FR}}</p>
</div>


