<div class="max-w-6xl mx-auto flex">
  <div *ngIf="pokemonVm">
    <p class="dark:text-white">{{ pokemonVm.Number }}</p>
    <div class="flex justify-center items-center">
      <img [src]="pokemonVm.PathImgNormal" />
      <img [src]="pokemonVm.PathImgShiny" />
    </div>
    <div class="flex justify-center items-center">
      <img [src]="pokemonVm.PathSprite" class="h-[40px] w-[40px]" />
      <img [src]="pokemonVm.PathSpriteNormal" />
      <img [src]="pokemonVm.PathSpriteShiny" />
    </div>
    <div class="flex justify-center items-center">
      <img [src]="pokemonVm.PathAnimatedNormal" />
      <img [src]="pokemonVm.PathAnimatedShiny" />
    </div>
    <p>
      <audio controls [src]="pokemonVm.PathSound">
        <a [href]="pokemonVm.PathSound"> Download audio </a>
      </audio>
    </p>
    <p class="dark:text-white">{{ pokemonVm.Name }}</p>
    <p class="dark:text-white">{{ pokemonVm.DisplayName }}</p>
    <p class="dark:text-white">{{ pokemonVm.DescriptionVx }}</p>
    <p class="dark:text-white">{{ pokemonVm.DescriptionVy }}</p>
    <p class="dark:text-white">{{ pokemonVm.Size }}</p>
    <p class="dark:text-white">{{ pokemonVm.Category }}</p>
    <p class="dark:text-white">{{ pokemonVm.Weight }}</p>

    <div *ngFor="let talent of pokemonVm.Talents">
      <p class="dark:text-white">{{ talent.Name }} <span *ngIf="talent.IsHidden">[Caché]</span></p>
      <p class="dark:text-white">{{ talent.Description }}</p>
    </div>

    <p class="dark:text-white">{{ pokemonVm.WhenEvolution }}</p>

    <div *ngFor="let type of pokemonVm.Types">
      <p class="dark:text-white">{{ type.Name }}</p>
      <p class="dark:text-white"><img [src]="type.PathImg" /></p>
    </div>

    <img *ngIf="pokemonVm.Types[0]" [src]="pokemonVm.Types[0].PathFondGo" />

    <div *ngFor="let type of pokemonVm.Weakness">
      <p class="dark:text-white">{{ type.Name }}</p>
      <p class="dark:text-white"><img [src]="type.PathImg" /></p>
    </div>

    <app-pokemon-evolution
      *ngFor="let formVm of pokemonVm.Forms"
      [formVM]="formVm"
    ></app-pokemon-evolution>

    <app-pokemon-attack
      *ngFor="let typeLearnAttackVM of pokemonVm.Attacks"
      [typeLearnAttackVM]="typeLearnAttackVM"
    ></app-pokemon-attack>
  </div>
</div>
