<div class="max-w-6xl mx-auto flex">
  <div *ngIf="pokemonVm"> 
    <p>{{pokemonVm.Number}}</p>
    <p><img src="{{pokemonVm.UrlImg}}" /></p>
    <p><img src="{{pokemonVm.UrlSprite}}" /></p>
    <p>{{pokemonVm.Name}}</p>
    <p>{{pokemonVm.DisplayName}}</p>
    <p>{{pokemonVm.DescriptionVx}}</p>
    <p>{{pokemonVm.DescriptionVy}}</p>
    <p>{{pokemonVm.Size}}</p>
    <p>{{pokemonVm.Category}}</p>
    <p>{{pokemonVm.Weight}}</p>

    <div *ngFor="let talent of pokemonVm.Talent">
      <p>{{talent.Name}}</p>
      <p>{{talent.Description}}</p>
    </div>
    
    <p>{{pokemonVm.WhenEvolution}}</p>

    <img src="{{pokemonVm.Types[0].UrlFondGo}}" />

    <div *ngFor="let type of pokemonVm.Types">
        <p>{{type.Name}}</p>
        <p><img src="{{type.UrlImg}}" /></p>
    </div>

    <div *ngFor="let type of pokemonVm.Weakness">
        <p>{{type.Name}}</p>
        <p><img src="{{type.UrlImg}}" /></p>
    </div>

    <div *ngFor="let pok of pokemonVm.Evolutions">
      <p>{{pok.Name}}</p>
      <p><img src="{{pok.UrlSprite}}" /></p>
      <p><img src="{{pok.UrlImg}}" /></p>
      <p>{{pok.WhenEvolution}}</p>
    </div>

    <div *ngFor="let pok of pokemonVm.MegaEvolutions">
      <p>{{pok.Name}}</p>
      <p><img src="{{pok.UrlSprite}}" /></p>
      <p><img src="{{pok.UrlImg}}" /></p>
      <p>{{pok.WhenEvolution}}</p>
    </div>

    <div *ngFor="let pok of pokemonVm.GigaEvolutions">
      <p>{{pok.Name}}</p>
      <p><img src="{{pok.UrlSprite}}" /></p>
      <p><img src="{{pok.UrlImg}}" /></p>
      <p>{{pok.WhenEvolution}}</p>
    </div>

    <div *ngFor="let pok of pokemonVm.AlolaForms">
      <p>{{pok.Name}}</p>
      <p><img src="{{pok.UrlSprite}}" /></p>
      <p><img src="{{pok.UrlImg}}" /></p>
      <p>{{pok.WhenEvolution}}</p>
    </div>

    <div *ngFor="let pok of pokemonVm.GalarForms">
      <p>{{pok.Name}}</p>
      <p><img src="{{pok.UrlSprite}}" /></p>
      <p><img src="{{pok.UrlImg}}" /></p>
      <p>{{pok.WhenEvolution}}</p>
    </div>

    <div *ngFor="let pok of pokemonVm.HisuiForms">
      <p>{{pok.Name}}</p>
      <p><img src="{{pok.UrlSprite}}" /></p>
      <p><img src="{{pok.UrlImg}}" /></p>
      <p>{{pok.WhenEvolution}}</p>
    </div>
  </div>
</div>


