<div class="max-w-6xl mx-auto flex">
  <div *ngIf="pokemonVm"> 
    <p class="dark:text-white">{{pokemonVm.Number}}</p>
    <p><img [src]="pokemonVm.PathImg" /></p>
    <p><img [src]="pokemonVm.PathSprite" /></p>
    <p><audio
      controls
      [src]="pokemonVm.PathSound">
          <a [href]="pokemonVm.PathSound">
              Download audio
          </a>
  </audio></p>
    <p class="dark:text-white">{{pokemonVm.Name}}</p>
    <p class="dark:text-white">{{pokemonVm.DisplayName}}</p>
    <p class="dark:text-white">{{pokemonVm.DescriptionVx}}</p>
    <p class="dark:text-white">{{pokemonVm.DescriptionVy}}</p>
    <p class="dark:text-white">{{pokemonVm.Size}}</p>
    <p class="dark:text-white">{{pokemonVm.Category}}</p>
    <p class="dark:text-white">{{pokemonVm.Weight}}</p>

    <div *ngFor="let talent of pokemonVm.Talents">
      <p class="dark:text-white">{{talent.Name}} <span *ngIf="talent.IsHidden">[Caché]</span></p>
      <p class="dark:text-white">{{talent.Description}}</p>
    </div>
    
    <p class="dark:text-white">{{pokemonVm.WhenEvolution}}</p>

    <div *ngFor="let type of pokemonVm.Types">
        <p class="dark:text-white">{{type.Name}}</p>
        <p class="dark:text-white"><img [src]="type.PathImg" /></p>
    </div>

    <img *ngIf="pokemonVm.Types[0]" [src]="pokemonVm.Types[0].PathFondGo" />

    <div *ngFor="let type of pokemonVm.Weakness">
        <p class="dark:text-white">{{type.Name}}</p>
        <p class="dark:text-white"><img [src]="type.PathImg" /></p>
    </div>

    <app-Pokemon-Evolution [pokemons]="pokemonVm.Evolutions"></app-Pokemon-Evolution>

    <app-Pokemon-Evolution [pokemons]="pokemonVm.MegaEvolutions"></app-Pokemon-Evolution>

    <app-Pokemon-Evolution [pokemons]="pokemonVm.GigaEvolutions"></app-Pokemon-Evolution>

    <app-Pokemon-Evolution [pokemons]="pokemonVm.AlolaForms"></app-Pokemon-Evolution>

    <app-Pokemon-Evolution [pokemons]="pokemonVm.GalarForms"></app-Pokemon-Evolution>

    <app-Pokemon-Evolution [pokemons]="pokemonVm.HisuiForms"></app-Pokemon-Evolution>
  </div>
</div>


