<div class="max-w-6xl mx-auto flex">
  <div *ngIf="pokemon">
    <p>{{ pokemon.number }}</p>
    <div class="flex justify-center items-center">
      <img [src]="imgRoot + pokemon.pathImgNormal" />
      <img [src]="imgRoot + pokemon.pathImgShiny" />
    </div>
    <div class="flex justify-center items-center">
      <img [src]="imgRoot + pokemon.pathSpriteLegacy" class="h-[40px] w-[40px]" />
      <img [src]="imgRoot + pokemon.pathSpriteNormal" />
      <img [src]="imgRoot + pokemon.pathSpriteShiny" />
    </div>
    <div class="flex justify-center items-center">
      <img [src]="imgRoot + pokemon.pathAnimatedImg" />
      <img [src]="imgRoot + pokemon.pathAnimatedImgShiny" />
    </div>
    <p>
      <audio controls [src]="imgRoot + pokemon.pathSound">
        <a [href]="imgRoot + pokemon.pathSound"> Download audio </a>
      </audio>
    </p>
    <p>{{ pokemon.dataInfo.name }}</p>
    <p>{{ pokemon.dataInfo.displayName }}</p>
    <p>{{ pokemon.dataInfo.descriptionVx }}</p>
    <p>{{ pokemon.dataInfo.descriptionVy }}</p>
    <p>{{ pokemon.dataInfo.size }}</p>
    <p>{{ pokemon.dataInfo.category }}</p>
    <p>{{ pokemon.dataInfo.weight }}</p>

    <div *ngFor="let ability of pokemon.abilities">
      <p>{{ ability.name }} <span *ngIf="ability.isHidden">[Caché]</span></p>
      <p>{{ ability.description }}</p>
    </div>

    <p>{{ pokemon.whenEvolution }}</p>

    <div class="flex justify-center items-center space-x-4">
      <div *ngFor="let type of pokemon.typePoks">
        <p>{{ type.Name }}</p>
        <p><img [src]="imgRoot + type.pathMiniHome" /></p>
      </div>
    </div>

    <div class="flex justify-center items-center">
      <img *ngIf="pokemon.typePoks[0]" [src]="imgRoot + pokemon.typePoks[0].pathFondGo" />
    </div>

    <div class="flex justify-center items-center space-x-4">
      <div *ngFor="let type of pokemon.weakness">
        <p>{{ type.Name }}</p>
        <p><img [src]="imgRoot + type.PathImg" /></p>
      </div>
    </div>

    <app-pokemon-evolution *ngFor="let formVm of forms" [forms]="formVm"></app-pokemon-evolution>

    <app-pokemon-attack
      *ngFor="let typeLearnAttackVM of attacks"
      [typeLearnAttack]="typeLearnAttackVM"
    ></app-pokemon-attack>
  </div>
</div>
