<div class="max-w-6xl mx-auto flex">
  <div *ngIf="pokemonVm">
    <p>{{ pokemonVm.number }}</p>
    <div class="flex justify-center items-center">
      <img [src]="pokemonVm.pathImgNormal" />
      <img [src]="pokemonVm.pathImgShiny" />
    </div>
    <div class="flex justify-center items-center">
      <img [src]="pokemonVm.pathSprite" class="h-[40px] w-[40px]" />
      <img [src]="pokemonVm.pathSpriteNormal" />
      <img [src]="pokemonVm.pathSpriteShiny" />
    </div>
    <div class="flex justify-center items-center">
      <img [src]="pokemonVm.pathAnimatedNormal" />
      <img [src]="pokemonVm.pathAnimatedShiny" />
    </div>
    <p>
      <audio controls [src]="pokemonVm.pathSound">
        <a [href]="pokemonVm.pathSound"> Download audio </a>
      </audio>
    </p>
    <p>{{ pokemonVm.name }}</p>
    <p>{{ pokemonVm.displayName }}</p>
    <p>{{ pokemonVm.descriptionVx }}</p>
    <p>{{ pokemonVm.descriptionVy }}</p>
    <p>{{ pokemonVm.size }}</p>
    <p>{{ pokemonVm.category }}</p>
    <p>{{ pokemonVm.weight }}</p>

    <div *ngFor="let talent of pokemonVm.talents">
      <p>{{ talent.name }} <span *ngIf="talent.isHidden">[Caché]</span></p>
      <p>{{ talent.description }}</p>
    </div>

    <p>{{ pokemonVm.whenEvolution }}</p>

    <div class="flex justify-center items-center space-x-4">
      <div *ngFor="let type of pokemonVm.types">
        <p>{{ type.Name }}</p>
        <p><img [src]="type.PathImg" /></p>
      </div>
    </div>

    <div class="flex justify-center items-center">
      <img *ngIf="pokemonVm.types[0]" [src]="pokemonVm.types[0].PathFondGo" />
    </div>

    <div class="flex justify-center items-center space-x-4">
      <div *ngFor="let type of pokemonVm.weakness">
        <p>{{ type.Name }}</p>
        <p><img [src]="type.PathImg" /></p>
      </div>
    </div>

    <app-pokemon-evolution
      *ngFor="let formVm of pokemonVm.forms"
      [formVM]="formVm"
    ></app-pokemon-evolution>

    <app-pokemon-attack
      *ngFor="let typeLearnAttackVM of pokemonVm.attacks"
      [typeLearnAttackVM]="typeLearnAttackVM"
    ></app-pokemon-attack>
  </div>
</div>
