<div class="flex space-x-4 mt-2 mr-2 language-position">
  <a (click)="navigateTo('FR')"><img width="30" [src]="getHref('FR')" /></a>
  <a (click)="navigateTo('EN')"><img width="30" [src]="getHref('EN')" /></a>
  <a (click)="navigateTo('ES')"><img width="30" [src]="getHref('ES')" /></a>
  <a (click)="navigateTo('IT')"><img width="30" [src]="getHref('IT')" /></a>
  <a (click)="navigateTo('DE')"><img width="30" [src]="getHref('DE')" /></a>
  <!-- <a (click)="navigateTo('RU')"><img width="30" [src]="getHref('RU')" /></a>
  <a (click)="navigateTo('CO')"><img width="30" [src]="getHref('CO')" /></a>
  <a (click)="navigateTo('CN')"><img width="30" [src]="getHref('CN')" /></a>
  <a (click)="navigateTo('JP')"><img width="30" [src]="getHref('JP')" /></a> -->
</div>
