@import 'tailwindcss';
@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
}

body {
  background-size: auto 100%;
  background-attachment: fixed;
  font-family: var(--font-family);
}

.container_menu {
  height: 100%;
}

.container_submenu {
  height: 100%;
}

.container {
  height: 100%;
}

body.bg {
  background-image: url('/assets/Images/nature-day.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;

  p {
    color: black;
  }
}

html.dark body.bg {
  /* selon ta stratégie dark */
  background-image: url('/assets/Images/nature-night.jpg');

  p {
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}
