@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height:100%;
} 

body {
    background-size: auto 100%;
    background-attachment: fixed;
}

.container_menu {
    height:100%;
}

.container_submenu {
    height:100%;
}

.container {
    height:100%;
}